body{
    background:white;
    font: normal 15pt Arial ;
}

header{

    color: white;
    text-align: center;

}

section{

    background-color: white;
    border-radius: 5px;
    padding:15px;
    width:500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.419);
}

footer{

    color: white;
    text-align: center;

}