
body {

    background: rgb(146, 145, 145);
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card{

    width: 42.8mm;
    height: 26.99mm;
    background-color: rgb(231, 229, 229);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px 1.5px rgb(64, 64, 64);
    flex-direction:column;
    display: flex;
    
}

.wifi-chip {
    
    display: flex;
    flex-direction:row;
    padding: 1em;
    margin-top:-85px;
    margin-left: -150px;
 
}

.wifi{
    transform: rotate(90deg) scale(1.2);
    display: flex;
    margin-left: -260px;
}

.chip-img {
    display: flex;
    // height: 50px;
    transform: scale(0.11);
}

.mastercard {

    // margin-top:-45px;
    width: 35px;
    margin-top: -200px;
    margin-left: 67px;
    
}