body
{
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header
{
    background-color:white;
    padding:10px;
    margin: 10px;
}

main
{
    background-color:white;
    padding:10px;
    margin: 10px;
}

article
{
    background-color:lightgray;
    padding:5px;
}

article > aside
{
    background-color:rgb(165, 165, 165);
    padding-left:5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer
{
    background-color:black;
    color: white;
    text-align: center;
    padding:1px;
}

nav
{
    background-color:gray;
    padding:3px;
    text-align: center;
}

nav > a
{
    text-decoration:none;
    color:white;
    margin-left: 30px;
}

nav > a:hover
{
    color:yellow;
}