body {
    background-color: rgb(167, 218, 218);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
}


.container {
    background-color: black;
    color: white;
    width: 150px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    padding: 1em;
    border-radius: 95px;
    box-shadow: 0px 6px 15px 7px rgb(134, 133, 133);
    flex-direction: column;
}


.side__middle {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    color: rgb(47, 130, 255);
    margin-top: 40%;
    position: absolute;

}

.side__bottom {
    position: absolute;
    margin-top: 250pt;
    
}

.side__bottom button {

    background-color: rgb(47, 130, 255);
}
.side__bottom svg{

    fill: white;
    color: white;
    margin-top: 2px;
}

.side__top svg{

    fill: white;
    color: white;
    margin-top: 2px;
}

button {
    width: 50px;
    height: 35px;
    background-color: rgba(240, 240, 240, 0.347);
    border-radius: 15px;
}



.reset::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="white" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="4" width="16" height="16" rx="2"></rect></svg>');
}

.add::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="white" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line> </svg>');
}
