.operadores {
    display: inline-flex;
    align-items: center;
}

.button {
    display: inline-flex;
    height: 30px;
    width: 30px;
    padding: 0;
    background-color: #009578;
    border:none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    margin-right: 2px;
    margin-top: 5px;
}

.button:hover {

    background-color: #006e58;
    color: white;

}

.button:active {
    display: inline-flex;
    align-items: center;
    /* padding: 0 15px; */
    columns: #fff;
    /* height: 100%; */
    background-color: blueviolet;
    color: #fff;
}

.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 ;
    columns: #fff;
    height: 100%;
}

/* BOTÃO COM ICONE DIFERENTE */
span#button_dividir {
    
    font-size:23pt;
    align-items: center;
    height: 8vh;
    width: 100vh;
    margin-left: 1.8vh;
}

button#button_equal {
    width: 44px;
}
span#button_equal {
    
    font-size:23pt;
    align-items: center;
    height: 8vh;
    width: 15vh;
    margin-left: 2vh;

}

.button__icon {
    font-size:1.8em;
}

.resultados {

    background-color: antiquewhite;
    border: solid;
    width: ;
}

/* DIV INPUT VALUES */

.input__textMain {
    height: 50px;
    width: 164px;

}

.resultados {
    height: 25px;
    width: 170px;
    
}