@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

body {

    font: 18px "Nunito", sans-serif;
    color: black;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;

    &::before {

        content: '';
        position: fixed;
        inset:0;
        z-index:-1;
        pointer-events: none;
        background: url("background-environment.jpg") no-repeat center;
        // background: yellow;
        background-size: cover; 

    }
}